@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --primary-color: #070E27;
}

body {
    background-color: var(--primary-color)!important;
    font-family: 'Sora', sans-serif!important;
}


/* start navbar */

.btn-secondary {
    background-color: #162044!important;
    border-color: #162044!important;
}

.bb {
    border-bottom: 1px solid rgba(78, 90, 133, 0.2);
}

.navbar span {
    font-size: 25px;
}


/* end navbar */


/* start header */

header h1 {
    font-size: 64px;
    font-weight: 700;
}


/* end header */


/* start Features */

.width {
    max-width: 350px;
}

.features img {
    height: 40px;
}

.border-color {
    border-color: rgba(78, 90, 133, 0.2)!important;
}

.rounded-24 {
    border-radius: 24px!important;
}

img[alt="arrow"] {
    width: 16px;
    height: 16px;
}

.opacity {
    opacity: 50%;
}


/* end Features */