@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
}

:root {
    --primary-color: #070E27;
    --secondary-color: #0059F7;
}

body {
    --bs-body-bg: #070E27;
    background-color: var(--bs-body-bg);
    font-family: 'Sora', sans-serif!important;
}


/* start navbar */

.navbar .btn-secondary {
    background-color: #162044;
    border-color: #162044;
    font-weight: 500;
}

.navbar .btn-secondary:hover {
    background-color: #10193a;
    border-color: #10193a;
}

.p-muted {
    color: #7E8BB6;
}

.bb {
    border-bottom: 1px solid rgba(78, 90, 133, 0.2);
}

.navbar span {
    font-size: 25px;
    font-weight: 600;
}


/* end navbar */


/* start header */

header h1,
.amount {
    font-size: 64px;
    font-weight: 700;
}


/* end header */


/* start Features */

.features-title {
    font-size: 3rem;
    font-weight: 600;
}

.width {
    max-width: 400px;
}

.features img {
    height: 40px;
}

.container .border-color {
    border-color: rgba(78, 90, 133, 0.2);
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-24 button {
    transition: 1s all;
}

.rounded-24 button {
    background: #689EFF;
    border-color: #689EFF;
}

.rounded-24 button:hover {
    background: #538df8;
    border-color: #538df8;
    transform: scale(1.1);
}

img[alt="arrow"] {
    width: 16px;
    height: 16px;
}

.opacity {
    opacity: 50%;
}

.background {
    background: var(--secondary-color);
}

.blue-area {
    padding: 72px 110px;
}

.blue-area-title {
    font-size: 36px;
    font-weight: 600;
}

.features-subtitle .col-md-4:nth-child(odd) {
    padding: 0;
    padding-right: 20px;
}

.features-subtitle .col-md-4:nth-child(even) {
    padding: 0;
    padding-left: 20px;
}

.features-subtitle {
    padding-bottom: 32px;
}

body .btn {
    border-radius: 8px!important;
    padding: 20px 24px;
}


/* end Features */


/* start pricing */

.pricing h1 {
    font-size: 48px;
    font-weight: 600;
}

.first-last .card {
    background: #081131;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    transition: 1s all;
    cursor: pointer;
}

.pricing .row .first-last {
    margin-top: 81px;
}

.card-container .card {
    background: #162044;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    transition: 1s all;
    cursor: pointer;
}

.card-container button:hover {
    background-color: #1f66df;
    border-color: #1f66df;
}

.card-container button {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.card ul li {
    color: #CCD2E9;
}

.card-body .btn-background {
    background: #4E5A85;
    border-color: #4E5A85;
}

.card-body .btn-background:hover {
    background: #46599c;
    border-color: #4E5A85;
}

.pricing .card:hover {
    transform: scale(1.1);
    background: #1a213a;
}


/* end pricing */


/* start work */

img[alt="group"] {
    width: 100%;
}

.work {
    font-weight: 600;
    font-size: 48px;
}

.work-container .col-md-5 {
    padding: 0;
}

.work-container .row {
    gap: 110px;
}

.work-container h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.work-container p {
    font-size: 20px;
}

.last-blue-area {
    padding: 56px 52px;
}

.last-blue-area span {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Sora', sans-serif!important;
    line-height: 16px;
}

.last-blue-area h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}


/* end work */


/* start footer */

footer {
    background: #162044;
    color: #CCD2E9;
    font-size: 14px;
}

footer i {
    margin-right: 44px;
}


/* end footer */