@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    list-style-type: none;
}

:root {
    --primary-color: #070E27;
    --secondary-color: #0059F7;
}

body {
    background-color: var(--primary-color)!important;
    font-family: 'Sora', sans-serif!important;
}


/* start navbar */

.navbar .btn-secondary {
    background-color: #162044;
    border-color: #162044;
}

.navbar .btn-secondary:hover {
    background-color: #10193a;
    border-color: #10193a;
}

.p-muted {
    color: #7E8BB6;
}

.bb {
    border-bottom: 1px solid rgba(78, 90, 133, 0.2);
}

.navbar span {
    font-size: 25px;
    font-weight: 600;
}


/* end navbar */


/* start header */

header h1,
.amount {
    font-size: 64px;
    font-weight: 700;
}


/* end header */


/* start Features */

.width {
    max-width: 350px;
}

.features img {
    height: 40px;
}

.container .border-color {
    border-color: rgba(78, 90, 133, 0.2);
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-24 button {
    transition: 1s all;
}

.rounded-24 button {
    background: #689EFF;
    border-color: #689EFF;
}

.rounded-24 button:hover {
    background: #538df8;
    border-color: #538df8;
    transform: scale(1.1);
}

img[alt="arrow"] {
    width: 16px;
    height: 16px;
}

.opacity {
    opacity: 50%;
}

.background {
    background: var(--secondary-color);
}


/* end Features */


/* start pricing */

.pricing h1 {
    font-size: 46px;
    font-weight: 600;
}

.first-last .card {
    background: #081131;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    transition: 1s all;
    cursor: pointer;
}

.card-container .card {
    background: #162044;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    transition: 1s all;
    cursor: pointer;
}

.card-container button {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.card ul li {
    color: #CCD2E9;
}

.card-body .btn-background {
    background: #4E5A85;
    border-color: #4E5A85;
}

.card-body .btn-background:hover {
    background: #46599c;
    border-color: #4E5A85;
}

.pricing .card:hover {
    transform: scale(1.1);
    background: #1a213a;
}


/* end pricing */


/* start work */

img[alt="group"] {
    width: 100%;
}


/* end work */


/* start footer */

footer {
    background: #162044;
    color: #CCD2E9;
    font-size: 14px;
}


/* end footer */